@import url('/ubuntu/stylesheet.css')
@import url("//fonts.googleapis.com/css?family=Arizonia:400")

@import 'reset'


headline = UbuntuRegular, Arial, Helvetica
padding = 8px
allpadding = 3px padding
textcolor = #444
brown = rgb(195, 134, 113)
green = rgb(172, 230, 0)

narrowWidth = 320px
normalWidth = 664px

narrow = "screen and (max-width: " + (normalWidth + 19) + ")"
wide   = "screen and (min-width: " + (normalWidth + 20) + ")"

smalltext()
  font-size: 12px
  line-height: 1.4
  font-family: helvetica, arial

smallwhitetext()
  smalltext()
  color: white
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)

box()
  padding: allpadding
  background: rgba(255, 255, 255, .6)
  .m-no-rgba &
    background: rgb(255, 255, 255)
  border-radius: 10px
  margin-top: 30px
  &:first-child
    margin-top: 0

clearfix()
  &:after
    content: "."
    visibility: hidden
    display: block
    height: 0
    clear: both

link(color, underlined=false)
  color: color
  text-decoration: none
  if underlined
    border-bottom: 1px solid green

  &:hover
  &:active
  &:focus
    if underlined
      border-bottom: 3px double green
    else
      border-bottom: 1px solid green


body
  font: 15px/1.4 Georgia
  width: 320px
  margin: auto
  color: textcolor
  background: url('/bg.jpg') fixed
  position: relative
  @media wide
    width: normalWidth

#update-warning
  red = red
  border: 2px solid red
  color: #444
  background: lighten(red, 70%)
  padding: 10px 20px
  margin: 10px 0 20px 0

  a
    color: darken(red, 20%)
    text-decoration: underline

@import 'navigation'
@import 'head'
@import 'content'
@import 'tracker'
@import 'more'
@import 'up'

#footer
  margin: 10px 0
  width: narrowWidth
  smallwhitetext()

  aside
    padding: padding

#fb-root
  display: none
  // This is only used as a placeholder, not for showing anything, so hide it.
  // http://stackoverflow.com/questions/8856211/horizontal-scrollbar-in-firefox-caused-by-fb-root