@import url('/ubuntu/stylesheet.css')

@import 'reset'


headline = UbuntuRegular, Arial, Helvetica
padding = 8px
allpadding = 3px padding
textcolor = #444
brown = rgb(195, 134, 113)
green = rgb(172, 230, 0)

smalltext()
  font-size: 12px
  line-height: 1.4
  font-family: helvetica, arial

smallwhitetext()
  smalltext()
  color: white
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)

body
  font: 15px/1.4 Georgia
  width: 320px
  margin: auto
  color: textcolor
  background: url('/bg.jpg') fixed

#navigation
  box-sizing: border-box
  background: rgba(255, 255, 255, .6)
  border-bottom: 5px solid green
  padding: 10px 10px 25px 10px
  width: 320px
  display: block
  color: #888
  font-family: headline
  font-size: 13px

  ul
    overflow: hidden
    margin-bottom: 10px

    li.latest
      float: left
    li.about
      display: none
      float: right

  a
    color: textcolor
    text-decoration: none
    font-weight: bold

    &:hover
    &:active
    &:focus
      border-bottom: 1px solid green

  table
    border-collapse: collapse
    text-align: center
    width: 100%
    th
      // Align year to the left edge
      text-align: left
      &:after
        // Add a nice indicator
        margin: 0 10px 0 5px
        font-size: 70%
        content: '❯'
        color: green
        position: relative
        top: -1px
      a
        // Only a since all years are linked. Remove outer
        // padding so it aligns with the rest of the page
        // content
        padding-left: 0
    a, span
      // White space in links is good
      padding: 2px 4px
    td:last-child
      a, span
        // Remove outer padding so it aligns with the rest
        // of the page content
        padding-right: 0



#head
  color: white
  padding: allpadding
  overflow: hidden
  margin: 10px

  a
    color: inherit
    text-decoration: none

  h1
    text-shadow: 1px 2px 0 rgba(0, 0, 0, .2)
    font-size: 40px
    letter-spacing: -1px
    font-family: headline
  h2
    float: right
    smallwhitetext()
    margin-top: -10px


#content
  margin: 0 3px 10px 3px

  article.entry
    padding: allpadding
    background: rgba(255, 255, 255, .6)
    margin-top: 30px
    border-radius: 10px
    &:first-child
      margin-top: 0

    header
      margin: 5px 0
      border-bottom: 2px solid rgba(green, .5)

      a
        text-decoration: none
      h1
        color: darken(textcolor, 20%)
        font: 20px/1.4 headline
        margin-bottom: -6px
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)

    img
      width: 320px
      margin: 10px -11px 0 -11px
      box-shadow: 0 0 5px rgba(0, 0, 0, .6)
    footer
      .fb-like
        width: 100px // see: https://developers.facebook.com/docs/reference/plugins/like/
        float: left
      .g-plusone
        width: 100px // see: https://developers.google.com/+/plugins/+1button/#button-sizes
        float: left
      time
        float: right
        text-align: right
        display: block
        smalltext()

    section
      text-align: justify

      p
        margin: 1em 0

      a
        color: black
        text-decoration: none
        border-bottom: 1px solid green

        &:hover
        &:active
        &:focus
          border-bottom: 3px double green

#footer
  margin: 10px 0
  width: 320px
  smallwhitetext()

  aside
    padding: padding

#fb-root
  display: none
  // This is only used as a placeholder, not for showing anything, so hide it.
  // http://stackoverflow.com/questions/8856211/horizontal-scrollbar-in-firefox-caused-by-fb-root