#content
  margin: 0 3px 10px 3px
  @media wide
    margin: 0

  article
    box()
    position: relative
    
    hyphens: auto

    p
      margin: 1em 0
    h1 + p,
    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p,
    h6 + p
      margin-top: 0
    a
      link: black, true

    li:before
      width: 20px
      margin-left: 5px
      display: inline-block
      content: "◇"

    blockquote
      border-left: 2px solid green
      font-style: italic
      margin-left: 10px
      padding-left: 10px

      em
        font-style: normal

    q
      font-style: italic
      display: inline-block
      border-radius: 2px
      background: rgba(green, .15)

      &:before, &:after
        font: 120%/100% normal Arizonia
      &:before
        content: "“"
      &:after
        content: "”"

    &.page
      h1
        color: darken(textcolor, 20%)
        margin: 5px 0
        font: 20px/1.4 headline
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)
        &:after
          content: ''
          border-bottom: 2px solid green
          display: block
          margin-top: -6px

      h2
        color: darken(textcolor, 20%)
        margin: 1em 0 .5em 0
        font: 18px/1.4 headline
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)

      h3
        color: darken(textcolor, 20%)
        margin: 1em 0 .2em 0
        font: 18px/1.4 headline
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)
        font-variant: small-caps


    &.entry
      padding: allpadding
      background: rgba(255, 255, 255, .6)
      margin-top: 30px
      border-radius: 10px
      &:first-child
        margin-top: 0
      @media wide
        clearfix()

      &[data-type="post"] header
        margin: 5px 0
        border-bottom: 2px solid green

        a
          text-decoration: none
        h1
          color: darken(textcolor, 20%)
          font: 20px/1.4 headline
          margin-bottom: -6px
          text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)
          @media wide
            font-size: 24px

      &[data-type="quote"] header
        // Fonts for quotation marks
        // http://www.russfussuk.com/design-blog.php?p=1
        margin: 5px 0
        size = 550px

        &:before
          font-size: size
          font-family: Arizonia
          color: green
          position: absolute
          z-index: -1
          opacity: .6
          content: "“"
          top: -214px
          left: -60px

        h1
          font-size: 30px
          padding-left: 10px
          font-style: italic
          @media wide
            font-size: 40px
            margin-right: 110px



      footer
        clearfix()
        margin-top: 20px
        .fb-like
          // see: https://developers.facebook.com/docs/reference/plugins/like/
          // important to override width: 100% which is way too wide
          width: 100px !important
          // important to override height: auto which is 700% higher than in need to be
          height: 20px !important
          border: none;
          float: left
        .g-plusone
          width: 100px // see: https://developers.google.com/+/plugins/+1button/#button-sizes
          float: left
        time
          float: right
          text-align: right
          display: block
          smalltext()

      @media wide
        footer
          margin-top: 0
        &[data-type="quote"] footer
          .fb-like, .g-plusone
            clear: both
            float: right
            margin-top: 15px

      section
        text-align: justify

      .attachment, iframe.attachment
        display: inline-block
        width: narrowWidth
        margin: 10px -11px 0 -11px
        box-shadow: 0 0 5px rgba(0, 0, 0, .6)

        img
          display: block
          width: narrowWidth

      @media wide
        header
          margin-bottom: padding *2
        footer
          position: absolute
          top: 8px
          right: 10px

          time
            padding-top: 5px
        h1
          margin-right: 220px

        section.body
          width: narrowWidth
          float: left

          // On a row of it's own
          &:nth-child(odd) //:last-child not needed. it's always last
            // Make it full width. Not nice. but better than the alternatives
            width: 100%

          // To thr right of an image
          &:nth-child(even)
            > :first-child
              // Kill the top margin
              margin-top: 0

        .attachment, iframe.attachment
          float: left
          margin: 0 0 padding 0


          // First item on each row
          &:nth-child(even)
            // add some spacing to the next item
            margin-right: padding