#more
  box()
  text-align: center
  &:before
    font-size: 50px
    display: block
    content: "⬇"
    color: green
    margin-bottom: -10px
  &.enabled
    cursor: pointer
    &:hover
      color: black