#more
  box()
  text-align: center
  &:before
    font-size: 70px
    display: block
    content: "⇊"
    color: green
    margin: 0
    line-height: 70px

  &.enabled
    cursor: pointer
    &:hover
      color: black