extends layout

block content
  script
    var data = 'path: ' + document.location.pathname + document.location.search + ' ref: ' + document.referrer
    Track.event('Error', '404', data, true);

  article.entry#error404
    header
      h1 Bebisen finns inte
    section.body
      p Sidan du försökte nå finns inte här, du kan alltid <a href="/">börja om</a>.