extends layout

block analytics
  script
    _gaq.push(['_trackEvent', 'Error', '404', 'page: ' + document.location.pathname + document.location.search + ' ref: ' + document.referrer, true]);

block content
  article.entry#error404
    header
      h1 Bebisen finns inte
    section.body
      p Sidan du försökte nå finns inte här, du kan alltid <a href="/">börja om</a>.