extends layout

block content
  script
    var data = 'path: ' + document.location.pathname + document.location.search + ' ref: ' + document.referrer
    Track.event('Error', '500', data, true);
  article.entry#error500
    header
      h1 Oj, oj, oj
    section.body
      p Nu har något gått riktigt snett. Kontakta Liams far.