extends layout

block content
  article
    header
      h1= title
    if hasImage
      img(src=thumb, alt=title)
    footer
      time(pubdate)
        = date
        = " "
        = time
    section.body
      = text