extends layout

block content
  article.entry
    header
      h1= title
    if hasImage
      img(src=thumb, alt=title)

    section.body
      = text
    footer
      time
        = date
        = " "
        = time