doctype 5
html
  head
    title
      if title
        = title
        = " | Miliam Jorde"
      else
        = "Miliam Jorde"
    link(rel='stylesheet', href='/app.css')
    meta(name="viewport", content="device-width,initial-scale=1")
  body
    hgroup#head
      h1 Miliam Jorde
      h2
        = "är nu "
        span= humanAge
        = " gammal"
    #content
      block content

    footer#footer