doctype 5
html
  head
    title
      = title
      = " | Miliam Jorde"
    link(rel='stylesheet', href='/app.css')
    meta(name="viewport", content="device-width,initial-scale=1")
  body
    hgroup#head
      h1 Miliam Jorde
      h2
        = "채r nu "
        span= humanAge
        = " gammal"
    #content
      block content

    footer#footer
      //- #parents Miliam 채r son till Glenn och Sigyn Jorde
      //- #tech
      //-   = "K채llkoden finns p책 "
      //-   a(href="https://github.com/tregusti/miliam.se") Github