extends layout

block content
  each entry in entries
    article
      header
        h1= entry.title
      if entry.hasImage
        img(src=entry.thumb, alt=entry.title)
      footer
        time(pubdate)
          = entry.date
          = " "
          = entry.time
      section.body
        = entry.text
