@import url("/ubuntu/stylesheet.css");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
body{font:15px/1.4 Georgia;width:320px;}
body:after{content:'';position:fixed;right:0;left:0;bottom:0;border-bottom:5px solid #ace600}
#head{background:#c38671;color:#fff;padding:3px 6px;overflow:hidden;border-bottom:5px solid #ace600;}
#head h1{text-shadow:1px 2px 0 rgba(0,0,0,0.2);font-size:40px;letter-spacing:-1px;font-family:UbuntuRegular,Arial,Helvetica}
#head h2{float:right;margin-top:-10px;text-shadow:1px 1px 0 rgba(0,0,0,0.2)}
#content{padding:3px 6px;}
#content h1{font:20px/1.4 UbuntuRegular,Arial,Helvetica}
#content img{width:320px;margin:0 -6px}
#footer{background:rgba(255,255,255,0.7);}
#footer div{padding:3px 6px}
#footer #parents{float:left}
#footer #tech{float:right}
